* {
    box-sizing: border-box;
}

body {
    background-image: radial-gradient(rgba(0, 0, 0, 0), rgb(173, 210, 210), rgb(122, 190, 190), white);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    height: 100vh;   
}
#box {
    box-shadow: -25px 10px 17px rgba(0, 0, 0, 0.639);
    margin: 0 auto;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(173, 210, 210);
    
}
h1 {
    text-align: center;
    margin: 50px;
}
#catBtn {
    text-align: center;
    margin-top: 30px;
}

h2 {
    text-align: center;
}

#openBtnDiv {
    text-align: center;
    margin: 60px 50px;
}
button {
    border: none;
    border-radius: 5px;
    padding: 12px;
    box-shadow: 3px 4px #a5a5a5;
    background-color: rgb(91, 218, 175);
}
button:hover {
    background-color: rgb(32, 194, 140);
}

img {
    width: 40%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid white;
}
.modal-container {
    background-color: rgb(232, 239, 242);
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}
.modal-container.show {
    opacity: 1;
    pointer-events: auto;
}

#modal {
    background-color: aliceblue;
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    border-radius: 8px;
    text-align: center;
}

#modal p {
    opacity: 0.7;
}
#close {
    margin-bottom: 20px;
}
footer {
    background-color: black;
    opacity: 0;
    height: 40px;
}

@media only screen and (max-width: 768px){
    img {
        width: 65%;
    }
    .modal-container {
        width: 100%;
        height: 100%;
    }
    #modal {
        width: 80%;
        height: 80%;
    }
    #box {
        height: 120px;
    }
    h1 {
        font-size: 25px;
    }
}